:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  // place-items: center;
  // min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: ivory;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.drop-zone {
  width: 300px;
  height: 100px;
  border: 1px dashed purple;
  border-radius: 10px;
  padding: 50px;
  box-sizing: border-box;
  text-align: center;

  &::before{
    content: 'drop DCT3 file here'
  }
}

.font-explorer{
  .btn {
    user-select: none;
    cursor: pointer;
    position: sticky;
    top: 0px;
    background: white;
    z-index: 1;
  }

  .font-enum{
    padding-left: 10px;
  }
}

.font-group{
  --scale: 8;
  --cwidth: 8px;
  --cheight: 8px;
  --baseline: 10;
  padding-left: 10px;

  .btn {
    top: 2rem;
  }

  canvas {
    display: block;
    transform: scale(var(--scale));
    transform-origin: top left;
    margin-right: 50px;
    image-rendering: pixelated;
  }

  .font-glyph{
    display: inline-block;
    margin-right: calc(var(--scale) * 1px);
    // border: 1px solid blue;
    box-sizing: content-box;
    width: calc(var(--scale) * var(--cwidth));
    height: calc(var(--scale) * var(--cheight));
    background: 
      linear-gradient(180deg, transparent, transparent calc(var(--scale) * (var(--baseline) + 1) * 1px + 0px), red calc(var(--scale) * (var(--baseline) + 1) * 1px + 1px), transparent calc(var(--scale) * var(--baseline) * 1px + 2px)),
      repeating-linear-gradient(0deg, transparent, transparent calc(var(--scale) * 1px - 1px), gray calc(var(--scale) * 1px)), 
      repeating-linear-gradient(90deg, transparent, transparent calc(var(--scale) * 1px - 1px), gray calc(var(--scale) * 1px + 0px));
  }
}